  <div class="container">
      <h1 class="text-center mt-5">Computers Shop</h1>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Search product:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <!-- <div id="emailHelp" class="form-text">Enter a valid word!</div> -->
        </div>     
      </form>
      <div class="row">
        <div class="col-sm">
            <app-items></app-items>
        </div>
        <div class="col-sm">
             <app-items></app-items>
        </div>
        <div class="col-sm">
            <app-items></app-items>
        </div>
        <div class="col-sm">
            <app-items></app-items>
        </div>
        <div class="col-sm">
             <app-items></app-items>
        </div>
        <div class="col-sm">
            <app-items></app-items>
        </div>
      </div>
      
</div>